<div>
    <h3>
       Student 1 details are :  RollNo : {{student1.RollNo}}, Name : {{student1.name}}, marks : {{student1.marks}}, 
                                 grade : {{student1.marks | grade}}<br />
        Student 2 details are :  RollNo : {{student2.RollNo}}, Name : {{student2.name}}, marks : {{student2.marks}},
                                 grade : {{student2.marks | grade}}<br />
        Student 3 details are :  RollNo : {{student3.RollNo}}, Name : {{student3.name}}, marks : {{student3.marks}},
                                 grade : {{student3.marks | grade}}<br />
    </h3>
</div>
